@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700|Josefin+Slab:400,400italic);

/*BASIC*/

html {
	height:auto;
}

body {
	background-color: rgb(255,229,204);
	font-size:10px;
	font-family: 'josefin slab', sans-serif;
	text-align:center;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	pardding-top:30px;
	transition-property:opacity;
	opacity:1;
	transition-duration: .2s;
}

a.next {
	display:block;
	text-align:center;
}

.left {
	float:left;
	padding-right:10px;
}

.right {
	float:right;
}

.fixed {
	position:fixed;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.soleau {
	font-family:'dancing script', cursive;
}

/*HEADER*/

header {
	max-height:80px;
	width:100%;
	background-color:#000;
	position:fixed;
	z-index:1;
	box-shadow: 0 5px 3px #000;
	top:0;
}

a.logo {
	color:white;
	font-family:'dancing script', cursive;
	font-size:50px;
	padding:10px 40px;
	margin-top:5px;
}

nav a.next {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	color:white;
	transition-property:opacity;
}

nav a.faq {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	color:white;
	transition-property:opacity;
	margin-left:0;
}

nav a.next:hover {
	opacity:.6;
	transition-duration: .2s;
}

nav a.faq:hover {
	opacity:.6;
	transition-duration: .2s;
}

nav li {
	padding:30px 20px;
	cursor:pointer;
	box-sizing: border-box;
}

/*TITLE*/

.container1 {
	display:table;
	height:100vh;
	width:100%;
	background-image: url(../images/writingbg-min.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

.title {
	display:none;
	vertical-align:middle;
	text-align:center;
	font-family:'josefin slab', sans-serif;
	padding-top:10%;
	text-shadow: 2px 2px #ccc;
}

h1 {
	font-size:60px;
	font-family:'josefin slab', sans-serif;
}

h2 {
	font-size:32px;
	font-family:'dancing script', cursive;
}

.title p {
	font-size:24px;
	font-style:italic;
}

.next {
	font-size:50px;
	transition-property:color;
	cursor:pointer;
}

.next:hover {
	color:#C3AAAA;
	transition-duration:.2s;
}

.title a {
	display:block;
	padding-top:20px;
	color:black;
	width:60px;
	margin:20px auto;
	text-align:center;
}

/*ABOUT*/

.container2 {
	height:100vh;
	width:100%;
	display:table;
}

div.about {
	text-align:center;
	display:table-cell;
	vertical-align: middle;
	padding-top:100px;
}

.about p {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	width:70%;
	margin:20px 15%;
	text-align:justify;
}

.about a {
	margin-top:40px;
}

/*WORK*/

#work {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	display:table-cell;
	vertical-align: middle;
	width:60%;
	margin:20px 20%;
	text-align:center;
	position:relative;
}

#work p {
	margin-top:40px;
	margin-bottom:40px;
	width:60%;
	margin-left:20%;
}

textarea {
	display:block;
	font-family:'josefin slab', sans-serif;
	line-height:1.2;
	font-size:24px;
	width:60%;
	height:100px;
	position:relative;
	left:50%;
	margin-left:-30%;
	margin-bottom:40px;
	background-color:#fff;
	border:1px solid #ccc;
}

textarea[value] {
	color:#ccc;
}

/*EMAIL*/

.container3 {
	height:100vh;
	min-height:768px;
	width:100%;
	position:relative;
	display:table;
}

#email, input#fullEmail, input#workTitle {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	position:relative;
	width:100%;
}

#email h2 {
	margin-bottom:40px;
}

#email p {
	font-family:'josefin slab', sans-serif;
	line-height:1.2;
	width:60%;
	text-align:center;
	margin-bottom:20px;
	font-size:24px;
	margin:0 auto;
}

/*FORM*/

input#fullEmail, input#workTitle {
	margin:20px 0;
	width:200px;
	text-align:left;
}

input[type="submit"] {
	font-family:'dancing script', cursive;
	cursor:pointer;
	display:block;
	width:150px;
	height:50px;
	margin:0 auto;
	border:solid 1px #000;
	border-radius:5px;
	font-size:20px;
	background-color:#000;
	color:#fff;
	text-align: center;
}

input[type="submit"]:hover {
	background-color:#333;
}

/*FAQ*/

.faq {
	vertical-align:middle;
	width:90%;
	font-family:'josefin slab', sans-serif;
	margin-left:5%;
	margin-top:150px;
	font-size:40px;
}

.faq li {
	margin-bottom:40px;
	width:100%;
	transition-property:color;
	display:none;
	cursor:pointer;
	color:#000;
	transition-duration:.4s;
}

.faq li:hover {
	color:#C3AAAA;
	transition-property:color;
	transition-duration:.4s;
}

.faq p {
	font-size:24px;
	min-width:400px;
	width:90%;
	margin-bottom:40px;
	display:none;
	margin-left:5%;
}

@media only screen and (max-width:900px) and (min-width:641px) {
.about p {
	width:90%;
	margin:10px 5%;
	font-size:2em;
	}
}

@media only screen and (max-width:640px) {
	p {margin:0 40px; font-size:1em;}
	input {width:100px;}
	nav {display:inline-block; position:relative;}
	header {max-height:none; height:auto;}

	nav .hamburger {
		display:inline-block;
		float:right;
		width:30px;
		height:100%;
		margin:35px 30px;
		cursor:pointer;
	}

	nav ul li {
		float:none;
		display:none;
		font-size: 1.5em;
		padding:9px;
		color:white;
		background-color:black;
		width:200px;
	}

	.line {
		width:100%;
		margin-top:3px;
		height:3px;
		border-radius:.5px;
		background-color:white;
	}

	.about p {
		width:90%;
		margin:10px 5%;
		font-size:2em;
	}

}