@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700|Josefin+Slab:400,400italic);

/*BASIC*/

html {
	height:auto;
}

body {
	background-color: #F5F7EC;
}

a {
	text-decoration:none;
	color:inherit;
	cursor:pointer;
	pardding-top:30px;
	transition-property:opacity;
	opacity:1;
	transition-duration: .2s;
}

a.next {
	display:block;
	text-align:center;
}

.left {
	float:left;
	padding-right:10px;
}

.right {
	float:right;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.soleau {
	font-family:'dancing script', cursive;
}

/*HEADER*/

header {
	max-height:80px;
	width:100%;
	background-color:#000;
	position:fixed;
	z-index:1;
	box-shadow: 
}

a.logo {
	color:white;
	font-family:'dancing script', cursive;
	font-size:50px;
	padding:10px 40px;
	margin-top:5px;
}

nav a.next {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	color:white;
	transition-property:opacity;
}

nav a.faq {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	color:white;
	transition-property:opacity;
	margin-left:0;
}

nav a.next:hover {
	opacity:.6;
	transition-duration: .2s;
}

nav a.faq:hover {
	opacity:.6;
	transition-duration: .2s;
}

nav li {
	padding:30px 20px;
	cursor:pointer;
	box-sizing: border-box;
}

/*TITLE*/

.container1 {
	display:table;
	height:100vh;
	width:100%;
	background-image: url(../images/paperbg.jpg);
	background-size:cover;
	background-repeat:no-repeat;
}

.title {
	display:none;
	vertical-align:middle;
	text-align:center;
	font-family:'josefin slab', sans-serif;
	padding-top:10%;
	text-shadow: 2px 2px #ccc;
}

h1 {
	font-size:60px;
	font-family:'josefin slab', sans-serif;
}

h2 {
	font-size:32px;
	font-family:'dancing script', cursive;
}

.title p {
	font-size:24px;
	font-style:italic;
}

.next {
	font-size:50px;
	transition-property:color;
	cursor:pointer;
}

.next:hover {
	color:#C3AAAA;
	transition-duration:.2s;
}

.title a {
	display:block;
	padding-top:20px;
	color:black;
	width:60px;
	margin:20px auto;
	text-align:center;
}

/*ABOUT*/

.container2 {
	background-color: #f7e8b2;
	height:100vh;
	width:100%;
	display:table;
}

div.about {
	text-align:center;
	display:table-cell;
	vertical-align: middle;
	padding-top:60px;
}

.about p {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	width:60%;
	margin:20px 20%;
	text-align:justify;
}

.about a {
	margin-top:40px;
}

/*WORK*/

#work {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	display:table-cell;
	vertical-align: middle;
	width:60%;
	margin:20px 20%;
	text-align:center;
	position:relative;
}

#work p {
	margin-top:40px;
	margin-bottom:40px;
	width:60%;
	margin-left:20%;
}

textarea {
	display:block;
	font-family:'josefin slab', sans-serif;
	line-height:1.2;
	font-size:24px;
	width:60%;
	height:100px;
	position:relative;
	left:50%;
	margin-left:-30%;
	margin-bottom:40px;
	background-color:#fff;
	border:0px solid;
	border-radius:5px;
}

textarea[value] {
	color:#ccc;
}

/*EMAIL*/

.container3 {
	height:100vh;
	min-height:768px;
	width:100%;
	position:relative;
	background-color: #f7e8b2;
	display:table;
}

#email {
	font-family:'josefin slab', sans-serif;
	font-size:24px;
	line-height:1.2;
	display:table-cell;
	vertical-align: middle;
	text-align:center;
	position:relative;
	width:100%;
}

#email h2 {
	margin-bottom:40px;
}

#email p {
	font-family:'josefin slab', sans-serif;
	line-height:1.2;
	width:60%;
	text-align:justify;
	margin-bottom:20px;
	font-size:24px;
	margin:0 auto;
}

/*FORM*/

#email form#publish {
	display:table-cell;
	font-family:'josefin slab', sans-serif;
	line-height:1.2;
	text-align:justify;
	padding-top:40px;
	width:20%;
	min-width:360px;
	margin-left:40%;
}

#email input {
	width:20%;
	margin:40px 40%;
	text-align:left;
}

#email input[type="submit"] {
	font-family:'dancing script', cursive;
	cursor:pointer;
	display:block;
	width:150px;
	height:50px;
	margin:0 auto;
	border:solid 1px #000;
	border-radius:5px;
	font-size:20px;
	background-color:#000;
	color:#fff;
	text-align: center;
}

#email input[type="submit"]:hover {
	background-color:#333;
}

/*FAQ*/

.faq {
	vertical-align:middle;
	width:90%;
	font-family:'josefin slab', sans-serif;
	margin-left:40px;
	margin-top:150px;
	font-size:40px;
}

.faq li {
	margin-bottom:40px;
	max-width:90%;
	transition-property:color;
	display:none;
	cursor:pointer;
	color:#000;
	transition-duration:.4s;
}

.faq li:hover {
	color:#C3AAAA;
	transition-property:color;
	transition-duration:.4s;
}

.faq p {
	font-size:24px;
	min-width:400px;
	max-width:80%;
	margin-bottom:40px;
	display:none;
	padding-left:40px;
}

@media only screen and (max-width:640px) {
	nav {display:none;}
	p {margin:0 40px; font-size:1em;}
	input {width:100px;}
}